
<!-- <app-tl-menu></app-tl-menu> -->
<h2>New Requirementt!!</h2>
<br>
<table id="address">
    <tr>
        <th>Job Id</th>
        <!-- <th>Employee Id</th> -->
        <th>skill 1</th>
        <th>skill 2</th>
        <th>skill 3</th>
        <th>No. of Vacancy</th>
      
        <th>Action</th>
    </tr>
    <tr>
    <tr *ngFor="let job of allJobDescriptionCareer">
       
        <td>{{job.jobId}}</td>
        <!-- <td>{{job.employeeDetails.employeeId}}</td> -->
        <td>{{job.skill1}}</td>
        <td>{{job.skill2}}</td>
        <td>{{job.skill3}}</td>
        <td>{{job.requiredCandidate}}</td>
       
      <td><button routerLink="/applicationForm">Apply</button> 
       
         
       
    </tr>


</table>

