
<!-- <app-tl-menu></app-tl-menu> -->
<h1>Project Details</h1>
<br>
<table id="address">
    <tr>
        <th>Project Id </th>
        <th>Project Name</th>
        <th>Budget</th>
    </tr>
    *ngFor="let project of allproject"
    <tr >
       
        <!-- <td>{{job.jobId}}</td>
        <td>{{job.employeeDetails.employeeId}}</td>
        <td>{{job.skill1}}</td>
        <td>{{job.skill2}}</td>
        <td>{{job.skill3}}</td>
        <td>{{job.projectDetails.projectId}}</td>
        <td>{{job.jobStatus}}</td> -->
        <!-- <td><button (click)="showDetails(address.addressId)" >Details</button> 
            <button (click)="updateAddress(address.addressId)">Update</button> 
            <button (click)="deleteAddress(address.addressId)">Delete</button> -->
        <!-- </td> -->
    </tr>


</table>
